/*Simple layout*/

body{
    padding-top: 80px;
    background-color: #d7d7d7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout {
    width: 700px;
    min-height: 70%;
    background-color: white;
    border-radius: 2%;
    position: relative;
    overflow: auto;
}

/*Text stylization*/

.title{
    font-family: 'Monteserrat', sans-serif;
    margin-top: 30px;
    margin-left: 30px;
    color: #000000;
}

.text{
    font-family: 'Monteserrat', sans-serif;
    margin-left: 30px;
    margin-right: 10px;
    color: #000000;
    font-size: 16px;
}

.copyright{
    font-family: 'Monteserrat', sans-serif;
    align-items: center;
    margin-left: 280px;
}


/*MediaQuery*/


@media (max-width: 768px) {
    .text {
      font-size: 14px;
      margin: 10px; 
      color: #ffffff;
    }

    .title {
        font-size: 14px;
        margin: 10px; 
        color: #ffffff;
    }

    .copyright {
        font-size: 14px;
        margin: 10px; 
        color: #ffffff;
    }
  }

  

@media (max-width: 768px) {
    .layout {
        background-color: #000000
        ;
    }
}